<my-panel title="Tags" show-add-button="true" add="vm.create()" style="success" icon="tags" icon-size="2">

<my-filter-textbox  ng-model="filter"></my-filter-textbox>

<table class="table table-striped">
   <thead>
        <tr>
             <td>OldId</td>
<td>CourseTitle</td>
<td>SkillsLearned</td>
<td>Comments</td>
<td>Date</td>
<td>UserId</td>
        </tr>
    </thead>
    <tr ng-repeat='opportunity in vm.opportunitys | filter:filter '>
        <td>{{ opportunity.OldId }}</td>
<td>{{ opportunity.CourseTitle }}</td>
<td>{{ opportunity.SkillsLearned }}</td>
<td>{{ opportunity.Comments }}</td>
<td>{{ opportunity.Date  |  date:'medium' }}</td>
<td>{{ opportunity.UserId }}</td>
        <td><div class="btn btn-success" ng-click='vm.edit(opportunity)'>Edit</div></td>
    </tr>
</table>
