Server/node_modules/
packages/
Client/node_modules/
Client/bower_components/
Web/bower_components/
Web/node_modules/
node_modules/

Generated/Web/bower_components/
Generated/Web/src/client/Features/
Generated/Web/Features/
Generated/Web/src/
Web/src/
