<my-panel title="Tags" show-add-button="true" add="vm.create()" style="success" icon="tags" icon-size="2">
 <my-filter-textbox  ng-model="filter"></my-filter-textbox>
<table class="table table-striped">
   <thead>
        <tr>
             <td>Id</td>
<td>Address1</td>
<td>Address2</td>
<td>Postcode</td>
<td>Town</td>
        </tr>
    </thead>
    <tr  ng-repeat='organisationAddress in vm.organisationAddresss | filter:filter '>
        <td>{{ organisationaddress._id }}</td>
<td>{{ organisationaddress.Address1 }}</td>
<td>{{ organisationaddress.Address2 }}</td>
<td>{{ organisationaddress.Postcode }}</td>
<td>{{ organisationaddress.Town }}</td>
        <td><div class="btn btn-success" ng-click='vm.edit(organisationAddress)'>Edit</div></td>
    </tr>
</table>
