<my-modal-header title="Modify Awards"></my-modal-header>
<my-input-field input-type='number' field-label='Award50Hours' ng-model='vm.awards.Award50Hours'></my-input-field>
<my-input-field input-type='number' field-label='Award100Hours' ng-model='vm.awards.Award100Hours'></my-input-field>
<my-input-field input-type='number' field-label='Award200Hours' ng-model='vm.awards.Award200Hours'></my-input-field>
<my-input-field input-type='checkbox' field-label='Award50HoursApproved' ng-model='vm.awards.Award50HoursApproved'></my-input-field>
<my-input-field input-type='checkbox' field-label='Award100HoursApproved' ng-model='vm.awards.Award100HoursApproved'></my-input-field>
<my-input-field input-type='checkbox' field-label='Award200HoursApproved' ng-model='vm.awards.Award200HoursApproved'></my-input-field>
<my-input-field field-label='Award50HoursApprovedBy' ng-model='vm.awards.Award50HoursApprovedBy'></my-input-field>
<my-input-field field-label='Award100HoursApprovedBy' ng-model='vm.awards.Award100HoursApprovedBy'></my-input-field>
<my-input-field field-label='Award200HoursApprovedBy' ng-model='vm.awards.Award200HoursApprovedBy'></my-input-field>
<my-input-field input-type='date' field-label='Award50HoursApprovedOn' ng-model='vm.awards.Award50HoursApprovedOn'></my-input-field>
<my-input-field input-type='date' field-label='Award100HoursApprovedOn' ng-model='vm.awards.Award100HoursApprovedOn'></my-input-field>
<my-input-field input-type='date' field-label='Award200HoursApprovedOn' ng-model='vm.awards.Award200HoursApprovedOn'></my-input-field>
<my-modal-buttons close="vm.close()" save="vm.save()"></my-modal-buttons>
