<my-modal-header title="Modify Opportunity"></my-modal-header>
<my-input-field field-label='CourseTitle' ng-model='vm.opportunity.CourseTitle'></my-input-field>
<my-input-field field-label='SkillsLearned' ng-model='vm.opportunity.SkillsLearned'></my-input-field>
<my-input-field field-label='Comments' ng-model='vm.opportunity.Comments'></my-input-field>
<my-input-field input-type='date' field-label='Date' ng-model='vm.opportunity.Date'></my-input-field>
<my-input-field field-label='UserId' ng-model='vm.opportunity.UserId'></my-input-field>
<my-modal-buttons close="vm.close()" save="vm.save()"></my-modal-buttons>
