<my-panel title="Tags" show-add-button="true" add="vm.create()" style="success" icon="tags" icon-size="2">
 <my-filter-textbox  ng-model="filter"></my-filter-textbox>
<table class="table table-striped">
   <thead>
        <tr>
             <td>Id</td>
<td>Name</td>
<td>Active</td>
<td>Tel</td>
        </tr>
    </thead>
    <tr  ng-repeat='organisation in vm.organisations | filter:filter '>
        <td>{{ organisation._id }}</td>
<td>{{ organisation.Name }}</td>
<td>bool</td>
<td>{{ organisation.Tel }}</td>
        <td><div class="btn btn-success" ng-click='vm.edit(organisation)'>Edit</div></td>
    </tr>
</table>
