<my-modal-header title="Modify OrganisationAddress"></my-modal-header>
<my-input-field field-label='Address1' ng-model='vm.organisationAddress.Address1'></my-input-field>
<my-input-field field-label='Address2' ng-model='vm.organisationAddress.Address2'></my-input-field>
<my-input-field field-label='Postcode' ng-model='vm.organisationAddress.Postcode'></my-input-field>
<my-input-field field-label='Town' ng-model='vm.organisationAddress.Town'></my-input-field>
<my-modal-buttons close="vm.close()" save="vm.save()"></my-modal-buttons>
